body {
  padding-left: 6.6em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-image:url('zen_oxx3.jpg') }

p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0; }
p.space-2 {
  margin: 0;
  padding-top: .2em;
  padding-bottom: 0; }
p.space-5 {
  margin: 0;
  padding-top: .5em;
  padding-bottom: 0; }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 4.4em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: cornsilk;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 0.2em solid blue }
ul.navbar a {
  text-decoration: none }
ul.navbar a.link { color:white }
ul.navbar 
a:link {
  color: blue }
a:visited {
  color: purple }

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

.black {
  color:black }8

.white {
  color:white }
  
.banner12 {  
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12pt; 
    font-style: normal; 
    font-weight: bold; 
    color: #31235 
    }

